<div class="row featurette">
{{#if param}}
  <div class="col-md-7">
{{else}}
  <div class="col-md-7 order-md-2">
{{/if}}
    <h2 class="featurette-heading">{{featurette}}First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-fluid mx-auto" src="../img/market.jpg" alt="500x500" style="width: 500px; height: 500px;" data-holder-rendered="true">
  </div>
</div>