<nav class="header-nav">
    <ul class="header-nav-list">
        <li class="header-nav-list">
            <a href="" class="header-nav-li-link">nav1</a>
        </li>
        <li class="header-nav-list">
            <a href="" class="header-nav-li-link">nav2</a>
        </li>
        <li class="header-nav-list">
            <a href="" class="header-nav-li-link">nav3</a>
        </li>
    </ul>
</nav>
